{% extends 'post/layout/default.html' %}
{% load post_likes %}
{% load post_comments %}
{% block posts %}
<div class="card">
  <div class="card-header">
    {{post.author.first_name}} {{post.author.last_name}}
  </div>

  <div class="card-body">
    {{post.text}}
  </div>


  {% if post.postmedia_set.count > 0 %}

    {% for post_media in post.postmedia_set.all %}
    <img class="card-img-top" style="max-height:300px;object-fit:cover" src="{{post_media.image.url}}"
      alt="Card image cap">
    {% endfor %}
  {% endif %}


  <div class="card-footer">
    <span> <a class="{% if post|is_post_liked_by:user %}liked{% endif %}" href="{% url 'post_like' post.author post.id %}?action={% if post|is_post_liked_by:user %} unlike {% else %} like {% endif %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a> {{ post.postlike_set.count }} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span> <a > <i class="fa fa-comment"></i></a> {{post.comment_set.count}}</span>
  </div>

  <div class="card-footer">
    <span><a href="like" class="btn" role="button">Like</a></span>
    <span><a href="#add-comment-form" class="btn" role="button">Add Comment</a></span>
  </div>
</div>
<h5>Comments</h5>

{% for comment in post.comment_set.all|in_approved %}
<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">{{comment.author.first_name}} {{comment.author.last_name}}</h4>
    <p class="card-text">{{comment.text}}</p>
  </div>
</div>
<br>

{% endfor %}


<form action="{% url 'add_comment'  request.resolver_match.kwargs.username post.id  %}" method="post">
  {% csrf_token %} 
<div id="add-comment-form" class="form-group">
  <textarea class="form-control" name="post_comment"  rows="3"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Add Comment</button>
</div>

</form>
{% endblock posts %}


{% block aside %}
<br />
<br />
{% if request.resolver_match.kwargs.username == user.username %}
<ul class="list-group">
  <h5>Un approved comments</h5>
  {% for unapproved_comments in post.comment_set.all|in_unapproved %}
  <li class="list-group-item ">
    <h5>{{unapproved_comments.author.first_name}} {{unapproved_comments.author.last_name}}</h5>
    <span>{{unapproved_comments.text }}</span>
    <br>
    <br>
    <a href="{% url 'comment' request.resolver_match.kwargs.username post.id unapproved_comments.id %}?set_approve=true" class="btn btn-primary">Approve</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock aside %}