{% extends 'post/layout/default.html' %}
{% load post_likes %}

{% block posts %}
    <h2>Latest Posts</h2>

    {% if error %}
     <span>{{error.message}}</span>
    {% endif %}
    {% for post in posts %}
        <div class="card">
        <div class="card-header">
            {{ post.author.get_full_name }}
        </div>
        <div class="card-body">
            <p class="card-text">{{post}}</p>
        </div>



        {% if post.postmedia_set.count > 0 %}
            <img class="card-img-top" style="max-height:300px;object-fit:cover" src=" {{post.postmedia_set.all.first.image.url}}" alt="Card image cap">
        {% endif %}

        <div class="card-footer">
            <span> <a class="{% if post|is_post_liked_by:user %}liked{% endif %}" href="{% url 'post_like' post.author post.id %}?action={% if post|is_post_liked_by:user %} unlike {% else %} like {% endif %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a> {{ post.postlike_set.count }} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span> <a > <i class="fa fa-comment"></i></a> {{post.comment_set.count}}</span>
        </div>
        <div class="card-footer text-muted">
           <span>{{ post.published_date }}</span> 
           <a href="{% url 'sinlge_post' post.author.username post.id %}">view post</a>
        </div>
        </div>

        <br/>
        <br/>
    {% endfor %}
{% endblock %}

    {% block aside %}

    <br>
    <br>
    <br>
        <form action="" method="post">

            <!-- Default unchecked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultUnchecked">All</label>
            </div>


            <!-- Default unchecked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultUnchecked">Published & Approved</label>
            </div>
            
            <!-- Default checked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                <label class="custom-control-label" for="defaultChecked">Un Approved</label>
            </div>
        </form>
    {% endblock aside %}


